name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Clean old packages
        run: |
          rm -rf .cr-release-packages
          mkdir -p .cr-release-packages

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@betkub.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0  # 1. เปลี่ยนเป็น v1.6.0 ขึ้นไป
        with:
          skip_existing: true                     # 2. เพิ่มบรรทัดนี้ เพื่อข้ามตัวที่ซ้ำ
        env:
          CR_TOKEN: "${{ secrets.PAT }}"
